<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>P5_Quiz</title>
    </head>

    <body>
        <h1>P5_Quiz</h1>
        <h3>Autor de la práctica: </h3>
        <h5>Sergio Turiño Escobar</h5>
        <p></p>
        <a href="/"> HOME</a>
        <p></p>
        <a href="/quizzes">Quizzes</a>
    </body>
</html>
