<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>P5_Quiz</title>
  </head>

  <body>
    <h1>P5_Quiz</h1>
    <p></p>
    <p style="color:#FF0000";>Práctica con Express</p>
    <p></p>
    <a href="/credits"> Autores</a>
    <p></p>
    <a href="/quizzes">Quizzes</a>    
  </body>
</html>
