<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>P5_Quiz</title>
</head>

<body>
    <h1>P5_Quiz</h1>
    <p></p>
    <a href="/credits"> Autores</a>
    <p></p>
    <a href="/">HOME</a>
    <h1>Lista de Quizzes:</h1>

    <ul>
        <%    for(let i in quizzes ){   %>
            <%     const quiz = quizzes[i];  %>
                <li>
                    <%= quiz.question %> :
                        <%= quiz.answer %>
                </li>
                <%   }%>
    </ul>
</body>

</html>